{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
   
</head>
<body>
    <div class="top_navigator d-none">
        <div class="logo_content">
            <div class="logo">
                 <i class='bx bxl-c-plus-plus'></i>
                <div class="logo_name">CodifyLab</div>
            </div>
            <i class='bx bx-menu' id="btn2"></i>
        </div>
    </div>
   <div class="sidebar">
       <div class="logo_content">
           <div class="logo">
                <i class='bx bxl-c-plus-plus'></i>
               <div class="logo_name">CodifyLab</div>
           </div>
           <i class='bx bx-menu' id="btn"></i>
       </div>
       <ul class="nav_list">
            <li>
                <form action="">
                    <button><i class='bx bx-search'></i></button>
                    <input placeholder="Search..." type="text">
                    <span class="tooltip">Поиск</span>
                </form>
            </li>
            {% if request.user.is_authenticated %}
                {% if request.user.is_staff %}
                    <li>
                        <a href="">
                            <i class='bx bx-user' ></i>
                            <span class="links_name">Меню</span>
                        </a>
                            <span class="tooltip">Меню</span>
                    </li>
                {% else %}
                    <li class="mt-3">
                        <a href="">
                            <i class='bx bx-user' ></i>
                            <span class="links_name">Профиль</span>
                        </a>
                            <span class="tooltip">Профиль</span>
                    </li>
                    <li>
                        <a href="">
                            <i class='bx bx-world'></i>
                            <span class="links_name">Мир</span>
                        </a>
                        <span class="tooltip">Мир</span>
                    </li>
                    <li>
                        <a href="">
                            <i class="fas fa-car-crash"></i>
                            <span class="links_name">Проишествия</span>
                        </a>
                        <span class="tooltip">Проишествия</span>
                    </li>
                    <li>
                        <a href="">
                            <i class='bx bxs-calculator' ></i>
                            <span class="links_name">Экономика</span>
                        </a>
                        <span class="tooltip">Экономика</span>
                    </li>
                    <li>
                        <a href="">
                            <i class='bx bx-microphone'></i>
                            <span class="links_name">Интервью</span>
                        </a>
                        <span class="tooltip">Интервью</span>
                    </li>
                    <li>
                        <a href="">
                            <i class='bx bx-football'></i>
                            <span class="links_name">Спорт</span>
                        </a>
                        <span class="tooltip">Спорт</span>
                    </li>
                    <li>
                        <a href="">
                            <i class="fas fa-flask"></i>
                            <span class="links_name">Наука</span>
                        </a>
                        <span class="tooltip">Наука</span>
                    </li>
                    <li>
                        <a href="">
                            <i class="fas fa-users"></i>
                            <span class="links_name">Культура</span>
                        </a>
                        <span class="tooltip">Культура</span>
                    </li>
                    <li>
                        <a href="">
                            <i class='bx bx-cog' ></i>
                            <span class="links_name">Настройки</span>
                        </a>
                        <span class="tooltip">Настройки</span>
                    </li>
                    {% endif %}
                {% else %}
                <li>
                    <a href="">
                        <i class='bx bx-world'></i>
                        <span class="links_name">Мир</span>
                    </a>
                    <span class="tooltip">Мир</span>
                </li>
                <li>
                    <a href="">
                        <i class="fas fa-car-crash"></i>
                        <span class="links_name">Проишествия</span>
                    </a>
                    <span class="tooltip">Проишествия</span>
                </li>
                <li>
                    <a href="">
                        <i class='bx bxs-calculator' ></i>
                        <span class="links_name">Экономика</span>
                    </a>
                    <span class="tooltip">Экономика</span>
                </li>
                <li>
                    <a href="">
                        <i class='bx bx-microphone'></i>
                        <span class="links_name">Интервью</span>
                    </a>
                    <span class="tooltip">Интервью</span>
                </li>
                <li>
                    <a href="">
                        <i class='bx bx-football'></i>
                        <span class="links_name">Спорт</span>
                    </a>
                    <span class="tooltip">Спорт</span>
                </li>
                <li>
                    <a href="">
                        <i class="fas fa-flask"></i>
                        <span class="links_name">Наука</span>
                    </a>
                    <span class="tooltip">Наука</span>
                </li>
                <li>
                    <a href="">
                        <i class="fas fa-users"></i>
                        <span class="links_name">Культура</span>
                    </a>
                    <span class="tooltip">Культура</span>
                </li>
                <li>






                {% endif %}     
             
       </ul>
       <div class="profile-content">
            <div class="profile">
                {% if request.user.is_authenticated %}
                    <div class="profile_details">
                        <!-- if else -->
                        <img src="{% static 'me.JPG' %}" alt="">
                        <div class="name_job">
                            <div class="name">
                                {% if request.user.email|length > 9 %}                                     
                                    {{ request.user.email|slice:':12' }}...
                                {% else %}
                                    {{request.user.email}}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <a href="{% url 'sign_out' %}">
                        <i class='bx bx-log-out log' ></i>
                    </a>
                {% else %}
                <a href="{% url 'sign_in' %}">
                    <i class='bx bx-log-in log'></i>
                </a>
                {% endif %}
            </div>
          
       </div>
   </div>
   
   <!-- Main -->
   <div class="home_content ">
    {% block content %}
        
            
    {% endblock %}
    </div>

    <script type="text/javascript" src="{% static 'js/script.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/index.js' %}"></script>
    <script src="https://kit.fontawesome.com/92d93db707.js" crossorigin="anonymous"></script>
</body>
</html>