{% extends 'base.html' %}
{% load static %}
{% block title %} Home {% endblock %}

{% block content %}
   <!-- Main -->

 <div class="p-4 bg-light min-vh-100">
   <div class="p-4 bg-white rounded-1">
      <h2>Codify</h2>
   </div>

   <section class="d-flex flex-sm-wrap section_top justify-content-between py-3 gap-1">
      <div class="rounded-1 w-70 w-sm-100 section_top_left ">
         <img class="rounded-1" src="../../static/images/lav.webp" alt="">
      </div>
      <div class="rounded-1 w-sm-100 section_top_right w-30 bg-white p-3">
         <h4 class="fs-20 my-0 text-dark-night"  >Главное</h4>
         <ul>
            <li class="fs-16 w-90 py-3">
                  <a href="" class="text-dark-grey b-1">За сутки в России госпитализировали 14 046 человек с COVID-19</a>
                  <div class="d-flex justify-content-between  mt-3">
                     <div class="fs-16 text-dark-grey">11:43</div>
                     <div class="fs-16 "> 
                        <i class='bx bxl-facebook text-dark-grey'></i>
                        <i class='bx bxl-vk text-grey'></i>
                        <i class='bx bxl-ok-ru text-grey'></i>
                     </div>  
                  </div>
                  
            </li>
            <li class="fs-16 w-90 py-3">
               <a href="" class="text-dark-grey b-1">За сутки в России госпитализировали 14 046 человек с COVID-19</a>
               <div class="d-flex justify-content-between  mt-3">
                  <div class="fs-16 text-dark-grey">11:43</div>
                  <div class="fs-16 "> 
                     <i class='bx bxl-facebook text-dark-grey'></i>
                     <i class='bx bxl-vk text-grey'></i>
                     <i class='bx bxl-ok-ru text-grey'></i>
                  </div>  
               </div>
               
         </li>
         <li class="fs-16 w-90 py-3">
            <a href="" class="text-dark-grey b-1">За сутки в России госпитализировали 14 046 человек с COVID-19</a>
            <div class="d-flex justify-content-between  mt-3">
               <div class="fs-16 text-dark-grey">11:43</div>
               <div class="fs-16 "> 
                  <i class='bx bxl-facebook text-dark-grey'></i>
                  <i class='bx bxl-vk text-grey'></i>
                  <i class='bx bxl-ok-ru text-grey'></i>
               </div>  
            </div>
            
      </li>
      <li class="fs-16 w-90 py-3">
         <a href="" class="text-dark-grey b-1">За сутки в России госпитализировали 14 046 человек с COVID-19</a>
         <div class="d-flex justify-content-between  mt-3">
            <div class="fs-16 text-dark-grey">11:43</div>
            <div class="fs-16 "> 
               <i class='bx bxl-facebook text-dark-grey'></i>
               <i class='bx bxl-vk text-grey'></i>
               <i class='bx bxl-ok-ru text-grey'></i>
            </div>  
         </div>
         
   </li>
            
            
         </ul>   
      </div>
   </section>
   <section class="d-flex section_top justify-content-between py-3 gap-1">
      <div class="rounded-1 section_top_right w-30 bg-white p-3">
         <h4 class="fs-20 my-0 text-dark-night"  >Популярное</h4>
         <ul>
            <li class="fs-16 w-90 py-3">
                     <a href="" class="text-dark-grey b-1">За сутки в России госпитализировали 14 046 человек с COVID-19</a>
                     <div class="d-flex justify-content-between  mt-3">
                        <div class="fs-16 text-dark-grey">11:43</div>
                        <div class="fs-16 "> 
                           <i class='bx bxl-facebook text-dark-grey'></i>
                           <i class='bx bxl-vk text-grey'></i>
                           <i class='bx bxl-ok-ru text-grey'></i>
                        </div>  
                     </div>
            </li>
            <li class="fs-16 w-90 py-3">
                  <a href="" class="text-dark-grey b-1">За сутки в России госпитализировали 14 046 человек с COVID-19</a>


            <div class="d-flex justify-content-between  mt-3">
                  <div class="fs-16 text-dark-grey">11:43</div>
                  <div class="fs-16 "> 
                     <i class='bx bxl-facebook text-dark-grey'></i>
                     <i class='bx bxl-vk text-grey'></i>
                     <i class='bx bxl-ok-ru text-grey'></i>
                  </div>  
               </div>  
            </li>
            <li class="fs-16 w-90 py-3">
               <a href="" class="text-dark-grey b-1">За сутки в России госпитализировали 14 046 человек с COVID-19</a>
               <div class="d-flex justify-content-between  mt-3">
                  <div class="fs-16 text-dark-grey">11:43</div>
                  <div class="fs-16 "> 
                     <i class='bx bxl-facebook text-dark-grey'></i>
                     <i class='bx bxl-vk text-grey'></i>
                     <i class='bx bxl-ok-ru text-grey'></i>
                  </div>  
               </div>      
            </li>
            <li class="fs-16 w-90 py-3">
               <a href="" class="text-dark-grey b-1">За сутки в России госпитализировали 14 046 человек с COVID-19</a>
               <div class="d-flex justify-content-between  mt-3">
                  <div class="fs-16 text-dark-grey">11:43</div>
                  <div class="fs-16 "> 
                     <i class='bx bxl-facebook text-dark-grey'></i>
                     <i class='bx bxl-vk text-grey'></i>
                     <i class='bx bxl-ok-ru text-grey'></i>
                  </div>  
               </div>
            </li> 
            <li class="fs-16 w-90 py-3">
               <a href="" class="text-dark-grey b-1">За сутки в России госпитализировали 14 046 человек с COVID-19</a>
               <div class="d-flex justify-content-between  mt-3">
                  <div class="fs-16 text-dark-grey">11:43</div>
                  <div class="fs-16 "> 
                     <i class='bx bxl-facebook text-dark-grey'></i>
                     <i class='bx bxl-vk text-grey'></i>
                     <i class='bx bxl-ok-ru text-grey'></i>
                  </div>  
               </div>
            </li>  
         </ul>   
      </div>
      <div class="rounded-1 bg-white section_top_left w-70 p-3">
         <ul>
            <li class="py-3">
               <div class="d-flex justify-content-between">
                  <div class="fs-18 w-100 ">
                     <a href="" class="text-dark-grey fs-22 ">Разговор с Россией на условиях Москвы: Европа не хочет жертвовать собой</a>
                     <div class="mt-2 d-flex ">
                        <img class="rounded-3 w-15 " src="../../static/images/mil.webp" alt="">
                        <div class="fs-16 b-2 m-3">Елена Караева</div>
                     </div>
                  </div>
                  <div class="fs-18 w-90">
                        <img class="rounded-1 w-100 object-fit vh-25 " src="../../static/images/1769836845_0_218_3072_1946_640x0_80_0_0_4047c6fd383b621794ad283b440aac2c.jpg.webp" alt="">         
                  </div>
                  
               </div>
               <div class="d-flex justify-content-between  mt-3">
                  <div class="fs-16 text-dark-grey">11:43</div>
                  <div class="fs-16 "> 
                     <i class='bx bxl-facebook text-dark-grey'></i>
                     <i class='bx bxl-vk text-grey'></i>
                     <i class='bx bxl-ok-ru text-grey'></i>
                  </div>  
               </div>
            </li>
            <li class="py-3">
               <div class="d-flex justify-content-between">
                  <div class="fs-18 w-100 ">

Firdavs, [31.01.2022 18:45]
<a href="" class="text-dark-grey fs-22 ">Разговор с Россией на условиях Москвы: Европа не хочет жертвовать собой</a>
                     <div class="mt-2 d-flex ">
                        <img class="rounded-3 w-15 " src="../../static/images/1737959079_0_118_1200_1318_100x100_80_0_0_85f5b6acaee10970ac318960ec0a23ba.jpg.webp" alt="">
                        <div class="fs-16 b-2 m-3">Елена Караева</div>
                     </div>
                  </div>
                  <div class="fs-18 w-90">
                        <img class="rounded-1 w-100 object-fit vh-25 " src="../../static/images/1769836845_0_218_3072_1946_640x0_80_0_0_4047c6fd383b621794ad283b440aac2c.jpg.webp" alt="">         
                  </div>
                  
               </div>
               <div class="d-flex justify-content-between  mt-3">
                  <div class="fs-16 text-dark-grey">11:43</div>
                  <div class="fs-16 "> 
                     <i class='bx bxl-facebook text-dark-grey'></i>
                     <i class='bx bxl-vk text-grey'></i>
                     <i class='bx bxl-ok-ru text-grey'></i>
                  </div>  
               </div>
            </li>
            <li class="py-3">
               <div class="d-flex justify-content-between">
                  <div class="fs-18 w-100 ">
                     <a href="" class="text-dark-grey fs-22 ">Разговор с Россией на условиях Москвы: Европа не хочет жертвовать собой</a>
                     <div class="mt-2 d-flex ">
                        <img class="rounded-3 w-15 " src="../../static/images/1737959079_0_118_1200_1318_100x100_80_0_0_85f5b6acaee10970ac318960ec0a23ba.jpg.webp" alt="">
                        <div class="fs-16 b-2 m-3">Елена Караева</div>
                     </div>
                  </div>
                  <div class="fs-18 w-90">
                        <img class="rounded-1 w-100 object-fit vh-25 " src="../../static/images/1769836845_0_218_3072_1946_640x0_80_0_0_4047c6fd383b621794ad283b440aac2c.jpg.webp" alt="">         
                  </div>
                  
               </div>
               <div class="d-flex justify-content-between  mt-3">
                  <div class="fs-16 text-dark-grey">11:43</div>
                  <div class="fs-16 "> 
                     <i class='bx bxl-facebook text-dark-grey'></i>
                     <i class='bx bxl-vk text-grey'></i>
                     <i class='bx bxl-ok-ru text-grey'></i>
                  </div>  
               </div>
            </li>
         </ul>
      </div>
   </section>
   <section class="d-flex section_top justify-content-between py-3 gap-1">
      <div class="rounded-1 bg-white section_top_left w-70 p-3">
         <ul>
            <li class="py-3">
               <div class="d-flex justify-content-between">
                  <div class="fs-18 w-100 ">
                     <a href="" class="text-dark-grey fs-22 ">Разговор с Россией на условиях Москвы: Европа не хочет жертвовать собой</a>
                     <div class="mt-2 d-flex ">
                        <img class="rounded-3 w-15 " src="../../static/images/1737959079_0_118_1200_1318_100x100_80_0_0_85f5b6acaee10970ac318960ec0a23ba.jpg.webp" alt="">
                        <div class="fs-16 b-2 m-3">Елена Караева</div>
                     </div>
                  </div>
                  <div class="fs-18 w-90">
                        <img class="rounded-1 w-100 object-fit vh-25 " src="../../static/images/1769836845_0_218_3072_1946_640x0_80_0_0_4047c6fd383b621794ad283b440aac2c.jpg.webp" alt="">         
                  </div>
                  
               </div>
               <div class="d-flex justify-content-between  mt-3">
                  <div class="fs-16 text-dark-grey">11:43</div>
                  <div class="fs-16 ">


                     <i class='bx bxl-facebook text-dark-grey'></i>
                     <i class='bx bxl-vk text-grey'></i>
                     <i class='bx bxl-ok-ru text-grey'></i>
                  </div>  
               </div>
            </li>
            <li class="py-3">
               <div class="d-flex justify-content-between">
                  <div class="fs-18 w-100 ">
                     <a href="" class="text-dark-grey fs-22 ">Разговор с Россией на условиях Москвы: Европа не хочет жертвовать собой</a>
                     <div class="mt-2 d-flex ">
                        <img class="rounded-3 w-15 " src="../../static/images/1737959079_0_118_1200_1318_100x100_80_0_0_85f5b6acaee10970ac318960ec0a23ba.jpg.webp" alt="">
                        <div class="fs-16 b-2 m-3">Елена Караева</div>
                     </div>
                  </div>
                  <div class="fs-18 w-90">
                        <img class="rounded-1 w-100 object-fit vh-25 " src="../../static/images/1769836845_0_218_3072_1946_640x0_80_0_0_4047c6fd383b621794ad283b440aac2c.jpg.webp" alt="">         
                  </div>
                  
               </div>
               <div class="d-flex justify-content-between  mt-3">
                  <div class="fs-16 text-dark-grey">11:43</div>
                  <div class="fs-16 "> 
                     <i class='bx bxl-facebook text-dark-grey'></i>
                     <i class='bx bxl-vk text-grey'></i>
                     <i class='bx bxl-ok-ru text-grey'></i>
                  </div>  
               </div>
            </li>
            <li class="py-3">
               <div class="d-flex justify-content-between">
                  <div class="fs-18 w-100 ">
                     <a href="" class="text-dark-grey fs-22 ">Разговор с Россией на условиях Москвы: Европа не хочет жертвовать собой</a>
                     <div class="mt-2 d-flex ">
                        <img class="rounded-3 w-15 " src="../../static/images/1737959079_0_118_1200_1318_100x100_80_0_0_85f5b6acaee10970ac318960ec0a23ba.jpg.webp" alt="">
                        <div class="fs-16 b-2 m-3">Елена Караева</div>
                     </div>
                  </div>
                  <div class="fs-18 w-90">
                        <img class="rounded-1 w-100 object-fit vh-25 " src="../../static/images/1769836845_0_218_3072_1946_640x0_80_0_0_4047c6fd383b621794ad283b440aac2c.jpg.webp" alt="">         
                  </div>
                  
               </div>
               <div class="d-flex justify-content-between  mt-3">
                  <div class="fs-16 text-dark-grey">11:43</div>
                  <div class="fs-16 "> 
                     <i class='bx bxl-facebook text-dark-grey'></i>
                     <i class='bx bxl-vk text-grey'></i>
                     <i class='bx bxl-ok-ru text-grey'></i>
                  </div>  
               </div>
            </li>
         </ul>
      </div>
      <div class="rounded-1 section_top_right w-30 bg-white p-3">
         <h4 class="fs-20 my-0 text-dark-night"  >Популярное</h4>
         <ul>
            <li class="fs-16 w-90 py-3">
                     <a href="" class="text-dark-grey b-1">За сутки в России госпитализировали 14 046 человек с COVID-19</a>
                     <div class="d-flex justify-content-between  mt-3">
                        <div class="fs-16 text-dark-grey">11:43</div>
                        <div class="fs-16 "> 
                           <i class='bx bxl-facebook text-dark-grey'></i>
                           <i class='bx bxl-vk text-grey'></i>
                           <i class='bx bxl-ok-ru text-grey'></i>
                        </div>  
                     </div>
            </li>
            <li class="fs-16 w-90 py-3">


               <a href="" class="text-dark-grey b-1">За сутки в России госпитализировали 14 046 человек с COVID-19</a>
                  <div class="d-flex justify-content-between  mt-3">
                     <div class="fs-16 text-dark-grey">11:43</div>
                     <div class="fs-16 "> 
                        <i class='bx bxl-facebook text-dark-grey'></i>
                        <i class='bx bxl-vk text-grey'></i>
                        <i class='bx bxl-ok-ru text-grey'></i>
                     </div>  
                  </div>  
            </li>
            <li class="fs-16 w-90 py-3">
               <a href="" class="text-dark-grey b-1">За сутки в России госпитализировали 14 046 человек с COVID-19</a>
               <div class="d-flex justify-content-between  mt-3">
                  <div class="fs-16 text-dark-grey">11:43</div>
                  <div class="fs-16 "> 
                     <i class='bx bxl-facebook text-dark-grey'></i>
                     <i class='bx bxl-vk text-grey'></i>
                     <i class='bx bxl-ok-ru text-grey'></i>
                  </div>  
               </div>      
            </li>
            <li class="fs-16 w-90 py-3">
               <a href="" class="text-dark-grey b-1">За сутки в России госпитализировали 14 046 человек с COVID-19</a>
               <div class="d-flex justify-content-between  mt-3">
                  <div class="fs-16 text-dark-grey">11:43</div>
                  <div class="fs-16 "> 
                     <i class='bx bxl-facebook text-dark-grey'></i>
                     <i class='bx bxl-vk text-grey'></i>
                     <i class='bx bxl-ok-ru text-grey'></i>
                  </div>  
               </div>
            </li> 
            <li class="fs-16 w-90 py-3">
               <a href="" class="text-dark-grey b-1">За сутки в России госпитализировали 14 046 человек с COVID-19</a>
               <div class="d-flex justify-content-between  mt-3">
                  <div class="fs-16 text-dark-grey">11:43</div>
                  <div class="fs-16 "> 
                     <i class='bx bxl-facebook text-dark-grey'></i>
                     <i class='bx bxl-vk text-grey'></i>
                     <i class='bx bxl-ok-ru text-grey'></i>
                  </div>  
               </div>
            </li>  
         </ul>   
      </div>
      
   </section>
 </div>

{% endblock %}